body{
  margin: 0px;
  padding: 0px;
}
.container-userdetail {
  width: 100%;
  font-family: "Baloo Thambi 2", cursive;
}
a{
  text-decoration: none;
}
.container-userdetail .user-detail {
  position: relative;
  width: 100%;
}

.container-userdetail .user-detail .user-top {
  width: 100%;
  font-weight: bold;
  background-color: rgb(103, 84, 68);
  flex-basis: 100%;
  /* height: 41px; */
  border: none;
  position: relative ;
}

.container-userdetail .user-detail .user-top .item {
  padding: 10px 20px 10px 40px;
  font-size: 14px;
  display: inline-block;
  position: relative;
  color: white;
  
}

.container-userdetail .user-detail .user-top .item.active {
  /* color: #333333; */
  padding-left: 45px;
}

.container-userdetail .user-detail .menu-user {
  margin-right: 17px;
}

.container-userdetail .user-detail .menu-user .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 7px;
  margin: 0px 0px 12px;
  float: left;
}

.container-userdetail .user-detail .menu-user .account img {
  width: 45px;
  margin: 0px 12px 0px 0px;
  border-radius: 50%;
}

.container-userdetail .user-detail .menu-user .account .info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  font-size: 15x;
  line-height: 15px;
  color: #333333;
  font-weight: 700;
}

.container-userdetail .user-detail .menu-user .account .info .strong {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  display: block;
  margin: 4px 0px 0px;
}

.container-userdetail .user-detail .detail {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

.container-userdetail .user-detail .detail .title {
  font-size: 19px;
  line-height: 21px;
  font-weight: 700;
  padding: 10px 0px 10px 50%;
  /* margin: 20px 0px 15px; */
}

.container-userdetail .user-detail .detail .user-content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.container-userdetail .user-detail .detail .user-content .form-item {
  font-size: 15px;
  margin: 10px 20px 20px;
}

.container-userdetail .user-detail .detail .user-content .form-item .input-lable {
  color: #333333;
  font-weight: 400;
  width: 15%;
  display: inline-block;
}

.container-userdetail .user-detail .detail .user-content .form-item .input-item {
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  border: 1px solid #843534;
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px;
  line-height: 34px;
  outline: none;
  /* position: absolute; */
}

.container-userdetail .user-detail .detail .user-content .userbutton {
  color: #4a4a4a;
  background: #fdd835;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border: 0px;
  padding: 0px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 0px;
  width: 30%;
  height: 41px;
  margin-left: 18%;
}

.user-top .item.active::before {
  background: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/breadcrumb.svg);
  width: 20px;
  height: 41px;
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 0px;
  color: #cccccc;
}

input {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-transform: none;
  font-family: inherit;
  margin: 0px;
}

.form-item input[type^="text"], .form-item input[type^="password"] {
  width: 50%;
}

div {
  display: block;
}

/*# sourceMappingURL=userDetail.css.map */