* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


/*----------------------------------------------------
---------------------Trang chu => Gio hang------------
-----------------------------------------------------*/

.title-main {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: auto;
}

.title-main .icon-home {
    font-size: 40px;
}

.title-main .icon-home .fa-home {
    color: #fa3008;
}

.title-main .icon-home a {
    text-decoration: none;
}

.title-main .gio-hang {
    font-size: 40px;
    padding-left: 10px;
    margin: 5px;
    border-left: 3px solid #ee532d;
    color: #ee532d;
    font-weight: 600;
}


/*----------------------------------------------------
-----------------END Trang chu => Gio hang------------
-----------------------------------------------------*/

.cart-header .san-pham,
.cart-header .so-luong,
.cart-header .tong-tien,
.cart-header .thao-tac {
    flex: 1;
    font-size: 1.2em;
}

.cart-header .gia {
    flex: 2;
    font-size: 1.2em;
}

.cart-header .ten-san-pham {
    flex: 3;
    text-align: center;
    font-size: 1.2em;
}


/*----------------------------------------------------
-----------------ITEM CART-----------------------------
-----------------------------------------------------*/

.cart,
.cart-header {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart img,
.cart-header img {
    width: 100%;
    width: 80px;
    height: 80px;
}

.cart .item-cart,
.cart-header .item-cart,
.cart-header .cart-header-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart .check-box,
.cart-header .check-box {
    flex: 0.5;
}

.cart .check-box input,
.cart-header .check-box input {
    width: 20px;
    height: 20px;
}

.cart .image,
.cart-header .image,
.cart .total,
.cart-header .total,
.cart .action,
.cart-header .action {
    flex: 1;
    margin-left: 20px;
}

.cart .number,
.cart-header .number {
    flex: 1;
}

.cart .price,
.cart-header .price {
    flex: 2;
}

.cart .name-product,
.cart-header .name-product {
    flex: 3;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

.cart .name-product a,
.cart-header .name-product a {
    text-decoration: none;
}

.cart .cost,
.cart-header .cost {
    font-size: 12px;
    text-decoration: line-through;
    color: #888;
    text-align: center;
}

.cart .quantity,
.cart-header .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cart .quantity .tru,
.cart-header .quantity .tru {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    width: 32px;
    height: 32px;
}

.cart .quantity .cong,
.cart-header .quantity .cong {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    width: 32px;
    height: 32px;
}

.cart .quantity input,
.cart-header .quantity input {
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 32px;
    text-align: center;
}

.cart .quantity input::-webkit-outer-spin-button,
.cart-header .quantity input::-webkit-outer-spin-button,
.cart .quantity input::-webkit-inner-spin-button,
.cart-header .quantity input::-webkit-inner-spin-button {
    margin: 0;
}

.cart .cost-discount,
.cart-header .cost-discount {
    color: #fa3008;
}

.cart .action i:hover,
.cart-header .action i:hover {
    color: #fa3008;
}


/*----------------------------------------------------
-----------------END ITEM CART-------------------------
-----------------------------------------------------*/


/*----------------------------------------------------
-----------------DAT HANG-----------------------------
-----------------------------------------------------*/

.tinh-tong-tien {
    padding-left: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tinh-tong-tien .tong {
    font-size: 23px;
}

.tinh-tong-tien .total {
    color: #fa3008;
    font-size: 25px;
    font-weight: bold;
}

.checkout {
    box-sizing: border-box;
    padding-left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkout .tiep-tuc-mua-hang {
    padding: 0 35px;
    border-radius: 50px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
    background-color: #c8c5c5;
    border: none;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 4px #ddd;
    cursor: pointer;
    outline: none;
}

.checkout .tiep-tuc-mua-hang:hover {
    background-color: #7d7a79;
}

.checkout .tiep-tuc-mua-hang:active {
    background-color: #706c6b;
}

.checkout .tien-hanh-dat-hang {
    padding: 0 35px;
    background-color: #fa3008;
    border-radius: 50px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px 4px #ddd;
    cursor: pointer;
    outline: none;
}

.checkout .tien-hanh-dat-hang:hover {
    background-color: #dc421c;
}

.checkout .tien-hanh-dat-hang:active {
    background-color: #ff3402;
}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*----------------------------------------------------
-----------------END DAT HANG-------------------------
-----------------------------------------------------*/


/*# sourceMappingURL=cart.css.map */