*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Thambi 2', cursive;
    margin: 0;
    display: grid;
    font-size: 16px;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #675444;
    opacity: 0.9;
}


.social-media a i {
    background-color: #108896;
    display: inline-block;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    margin: 3px;
    padding: 10px;
    width: 50px;
    border: 3px solid;
    border-radius: 50%;
    height: 50px;
}

.social-media a i:hover {
    background-color: #fff;
    color: #108896;
}

.title-footer {
    font-size: 1.4em;
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.l-footer .name-web {
    font-weight: 800;
    font-size: 2em;
}

h2 {
    font-weight: 400;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 1;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 58px;
    right: 22px;
    z-index: 119;
}


/* #back-to-top i {
    background-color: #EF5030;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 40px;
    font-size: 22px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
} */

#back-to-top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#back-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#back-to-top:active {
    background-color: #555;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 1;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}